  
  
  <mat-card class="product-card">
    <mat-card-header class="card-header">
      <div class="avatar">
        <button mat-button>LIKE</button>
      </div>
      <mat-icon>
        <div
        class="first-letter-icon"
       
      >
        F
      </div>
      </mat-icon>
     
        <mat-card-title>Actions Buttons</mat-card-title>
        <mat-card-subtitle>End</mat-card-subtitle>
     
      <div class="card-button">
        <button mat-button>+</button>
        <button mat-button>-</button>

      </div>

    </mat-card-header>
    
  </mat-card>
  